body {
    background-color: #fff;
    
    color: #000;
    
    text-align: center;
}

h2 {
    margin-top: 28px;
    text-align: center;
    color: blueviolet;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 5%;
}

table,
th,
td {
    border: 2px solid #000;
    
}

th,
td {
    padding: 12px;
    text-align: center;
}

td {
    font-size: 16px;
    
}

th {
    font-size: 20px;
    
    background-color: #000;
    
    color: #fff;
    
}